
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre nosotras</h5>
        <h3>Nacimos para respaldar e inspirar a todas las apasionadas del fútbol</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit blanditiis aperiam pariatur, nostrum, nihil voluptatum esse quas exercitationem molestiae provident doloribus iste fugiat! Illo, eius. Voluptatibus magni temporibus aut inventore.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-intro.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/about-quote.jpg" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>Si juegas fútbol de forma profesional, de forma amateur, si eres periodista deportivo, entrenadora, si te gusta ir al estadio, si la rompes en fifa, cualquier tipo de conexión que tengas con el fútbol, esta marca es para ti.</p>
        </blockquote>
        <figure><small>LOREM IPSUM</small>
          <h4>Fundadora y CEO</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quae facilis possimus sapiente maxime. Cupiditate aspernatur minus iste saepe ipsum.</p>
        </figure>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>NUESTROS PRODUCTOS</h5>
        <h3>Prendas y accesorios 100% futboleros</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea mollitia quos sed numquam, hic quod unde blanditiis est, quia modi perferendis, odit qui ipsam neque iusto deserunt libero eveniet.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-video.jpg" alt=""></div>
  </div>

  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/member-1.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>IMAGEN DE MARCA</small>
          <h3 style="font-size: 48px !important;">Futboleras como protagonistas</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur molestias alias possimus quibusdam sapiente ducimus necessitatibus deserunt at, provident recusandae, quo, officiis iusto modi saepe pariatur nulla est vero! Exercitationem inventore optio quis, mollitia iste odit nisi dignissimos soluta sint placeat at quo numquam voluptatem quos, sapiente modi omnis aperiam!</p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>